<div class="game-container">
    <h1>Tic tac toe</h1>
    <div class="field">
        <p id="gameStatus">Click on the button to start game</p>
    </div>
    <div class="field" *ngIf="this.game.statusOfGame === 0">
        <button class="start-game" (click)="startGame()">Start new game</button>
    </div>
    <div class="board" *ngIf="this.game.statusOfGame === 1">
        <div class="row">
            <div (click)="clickGame($event)" id="0" class="column"></div>
            <div (click)="clickGame($event)" id="1" class="column"></div>
            <div (click)="clickGame($event)" id="2" class="column"></div>
        </div>
        <div class="row">
            <div (click)="clickGame($event)" id="3" class="column"></div>
            <div (click)="clickGame($event)" id="4" class="column"></div>
            <div (click)="clickGame($event)" id="5" class="column"></div>
        </div>
        <div class="row">
            <div (click)="clickGame($event)" id="6" class="column"></div>
            <div (click)="clickGame($event)" id="7" class="column"></div>
            <div (click)="clickGame($event)" id="8" class="column"></div>
        </div>
    </div>
</div>